<article class="card">
    <img class="img" [src]="products.imagenUrl" [alt]="products.name" />
    <div class="body">
        <div class="top">
            <h3 class="title">{{products.name}}</h3>
            <span class="price">${{products.price}}</span>
        </div>
        <p class="meta">{{products.category}}</p>
        <p class="desc">{{products.description}}</p>
        <p class="stock"[class.out]="!products.inStock">
            @if(products.inStock){En Stock}
            @else{Agotado}
        </p>
    </div>
</article>
